@import "./reset";
@import "./body";
@import "./header";
@import "./main";
@import "./section";
@import "./footer";


$botones: (rojo: #e0490d, verde: #31d100, cursor: pointer);

.btn--green {
    background-color: map-get($botones, verde);
    cursor: map-get($botones, pointer) ; 
}
  
.btn--red {
    background-color: map-get($botones, rojo);
    cursor: map-get($botones, pointer); 
}