@import "variables";
@import "reset";
@import "body";
@import "header";
@import "main";
@import "section";
@import "footer";
@import "medias";

.btn--green:hover {
    background-color: green;
    cursor: pointer; 
}
  
.btn--red:hover {
    background-color: red;
    cursor: pointer; 
}